<%- include('partials/header.ejs');%>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <script type="text/javascript">
   function showFileName() {
      var fil = document.getElementById("myFile");
      alert(fil);
   }
   </script>
   <form id="frmMain" name="frmMain">
      <input type="file" id="myFile" name="myFile"/>
      <a href="#" onclick="showFileName()">Show Name</a>
  </form> -->
<!-- 
  <form action='/api/images' method="post" enctype="multipart/form-data">
   <input type='file' name='image' />
   <button type="submit">ok</button>
 </form> -->

<!-- <% if(currentuser.image){%>
     <%=currentuser.image%>
     <img src="<%=currentuser.image%>" alt="">
<%}%> -->

<!-- <h1><%=currentuser.posts%></h1> -->

<div style="background-color: black;">
<div class="row" style="display: flex; flex-wrap: wrap;background-size:100% 100%;width: 100vw;">
    <% currentuser.posts.forEach(function(Poem){ %>
       <div  class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="box1">
        
               <div style="background-image: url(<%=Poem.bgtheme%>);background-color: whitesmoke;" class="box">
                  
                <strong style="overflow-wrap: break-word;">
                  <p style="white-space:pre-wrap;"><%-Poem.poem%></p>
               </strong>     
                 
               </div>
               <a href="/poetry/<%=Poem._id%>" class="btn btn-primary" style="margin-bottom: 3px;margin-left: 45%;">More Info</a>
        
       </div> 
    <% }) %>
    </div>
</div>
    <%- include('partials/footer.ejs');%>