<%- include('partials/header.ejs');%>


 
 <div class="container">
    <h3>Created by <strong><%= Poem.writer%></strong></h3>
 </div>

 <div>
    
    <div style="background-image: url(<%=Poem.bgtheme%>);" class="box">
       
     
     <strong style="overflow-wrap: break-word;">
        <p style="white-space:pre-wrap;"><%-Poem.poem%></p>
     </strong>              
   
    </div>
    

</div> 



<a class="btn btn-success" href="/likeme/<%=Poem._id%>" style="margin-left: 20%;">Like</a>
<%=Poem.like%>
<p></p>
<a href="/poetry" class="btn btn-primary" style="margin-left: 20%;">Go back!</a>


<div class="container" style="margin: 30px;">
   
    <div class="row">
        
    <form action="/poetry/<%=Poem._id%>/comments" method="POST">
    <div class="col-xs-8">  <div class="comment-form"> <input type="text" name="comment" placeholder="Add a New Comment"></div></div>
     <div class="col-xs-4"> <button type="submit" style="margin: 30px;float: left;"><i class="fa fa-paper-plane" aria-hidden="false"></i></button> </div>
    </form>
    </div>
    
</div>
 <div class="container">
     <h2>Comments:</h2>
 </div>
<div class="container">
<div class="jumbotron">
<% Poem.comments.forEach(function(comments){ %>
    
    <strong>
        <p style="float: left;margin-right: 10px;"><%=comments.author%>--></p>
    </strong>   
    <p> <%=comments.text%> </p>
<%})%>
</div>
</div>
<%- include('partials/footer.ejs');%>