 
<%- include('partials/header.ejs');%>
<meta name="viewport" content="width=device-width, initial-scale=1">


<% if(!users[0]){%>
  <h2 >No such User...</h2>
  <% } else {%>
    <%if(users[0].img.data!=undefined){%>

      <div style="width:40%; margin:10px auto;">
      <img src="data:users[0]/<%=users[0].img.contentType%>;base64, 
           <%=users[0].img.data.toString('base64')%>" class="img-circle img-responsive center-block"> 
      </div>
  
  <%}else{%>
    <div style="width:40%; margin:0 auto;">
      <i class="fa fa-user fa-5x"></i> 
    </div>
      <%}%>
   



  <div style="background-color: black;">
    <h2 style="margin-left: 45%;color: whitesmoke;">
        <%=users[0].username%> profile
    </h2>
    <hr style="width: 80%;">
<div class="row" style="display: flex; flex-wrap: wrap;background-size:100% 100%;width: 100vw;">
     <% users[0].posts.forEach(function(Poem){ %>
       <div  class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="box1">
        
               <div style="background-image: url(<%=Poem.bgtheme%>);background-color: whitesmoke;" class="box">
                  
                <strong style="overflow-wrap: break-word;">
                  <p style="white-space:pre-wrap;"><%-Poem.poem%></p>
               </strong>     
                 
               </div>
               <a href="/poetry/<%=Poem._id%>" class="btn btn-primary" style="margin-left:45%;margin-bottom: 4px;">More Info</a>
        
       </div> 
    <% }) %>
</div>
</div>
<% } %>
    <%- include('partials/footer.ejs');%>
