 
<%- include('partials/header.ejs');%>

<% if(!users[0]){%>
  <h2 >No such User...</h2>
  <% } else {%>

    <h2 style="margin-left: 45%;">
        <%=users[0].username%> profile
    </h2>
    <hr style="width: 80%;">
<div class="row" style="display: flex; flex-wrap: wrap;height: 100vh; 
    background-size: 100% 100%;width: 100vw;">

  

  
    <% users[0].posts.forEach(function(Poem){ %>
       <div  class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="box1">
        
               <div style="background-image: url(<%=Poem.bgtheme%>);" class="box">
                  
                <strong style="overflow-wrap: break-word;">
                  <p style="white-space:pre-wrap;"><%-Poem.poem%></p>
               </strong>     
                 
               </div>
               <a href="/poetry/<%=Poem._id%>" class="btn btn-primary" style="margin-left:45%;margin-bottom: 4px;">More Info</a>
        
       </div> 
    <% }) %>
</div>

<% } %>
    <%- include('partials/footer.ejs');%>