<%- include('partials/header.ejs');%>
<meta name="viewport" content="width=device-width, initial-scale=1">


 
 <div class="container">
    <h3>Created by <strong><%= Poem.writer%></strong></h3>
 </div>

 <div>
    
    <div style="background-image: url(<%=Poem.bgtheme%>);" class="box">
       
     
     <strong style="overflow-wrap: break-word;">
        <p style="white-space:pre-wrap;"><%-Poem.poem%></p>
     </strong>              
   
    </div>
    

</div> 



<a class="btn btn-success" href="/likeme/<%=Poem._id%>" style="margin-left: 20%;">
    <i class="fa fa-thumbs-o-up" aria-hidden="false"></i>
</a>
  <%=Poem.like%>
<p></p>
<a href="/poetry" class="btn btn-primary" style="margin-left: 20%;">Go back!</a>
<div class="container" >
<%if(currentuser && Poem.writer === currentuser.username){%>
<form action="/Poem/<%=Poem._id%>" method="POST">
<button class="btn btn-danger" style="margin-top: 20px;"><i class="fa fa-trash-o" aria-hidden="true">Delete?</i>
</button>
</form>
<%}%>
</div>

<div class="container" style="margin: 30px;">
   
    <div class="row">
        
    <form action="/poetry/<%=Poem._id%>/comments" method="POST">
    <div class="col-xs-8">  <div class="comment-form"> <input type="text" name="comment" placeholder="Add a New Comment"></div></div>
     <div class="col-xs-4"> <button type="submit" style="margin: 30px;float: left;"><i class="fa fa-paper-plane" aria-hidden="false"></i></button> </div>
    </form>
    </div>
    
</div>
 <div class="container">
     <h2>Comments:</h2>
 </div>
<div class="container">
<div class="jumbotron" style="box-shadow: 4px 4px black;background-color:mediumspringgreen;">
<% for(var i=Poem.comments.length-1;i>=0;i--){ %>
    <div style="width: 100%;height: 30%; overflow-wrap: break-word;">
    <strong style="color: black;font-family: cursive;font-size: 10px>
        <p style="float: left;margin-right: 10px;"><%=Poem.comments[i].author%> (<%=Poem.comments[i].date%>)</p>
    </strong>   
    <p style="color:black;font-family:sans-serif;font-size: 17px;"> <%=Poem.comments[i].text%><hr> </p>
    </div>
<%}%>
</div>
</div>

<%- include('partials/footer.ejs');%>
